body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.cell.space {
    border: none;
    background: none;
    width: 20px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.title {
    text-align: center;
    margin-top: auto;
    font-size: 4rem;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    gap: 5px;
    margin-right: 20px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.correct {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.present {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.absent {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}